.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(233, 238, 230);
    padding: 10px 0px;
    .topBar {
      justify-content: flex-start;
      display: flex;
    }
  }

  .header {
    background-color: rgb(225, 243, 177);
    height: 65px;
    .selected {
      color: #333 !important;
      padding-bottom: 5px;
      border-bottom: 1.5px solid #333;
    }
    .box {
      width: 80%;
      height: 100%;
      margin: 0px auto;
      padding: 0px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a:hover {
        text-decoration: none;
      }
      .boxleft {
        font-size: 20px;
        color: rgb(51, 51, 51);
      }
      .boxleft::after {
        content: "◦◦◦";
        margin-left: 0.5em;
      }
      .boxright {
        display: inline-flex;
        justify-content: flex-start;
        p {
          margin: 0px 10px;
          font-size: 14px;
          color: rgb(102, 102, 102);
        }
      }
      div {
        cursor: pointer;
      }
    }
  }
  .footer {
    height: 80px;
    background-color: rgb(225, 243, 177);
    text-align: center;
    padding: 10px 0px;
    color: #555;
    //   background: #fafafa;
    border-top: 1px solid #f2f2f2;
    p {
      padding: 2px 0px;
    }
  }
}
