.wrap {
  display: flex;
  background-color: rgb(225, 243, 177);
  justify-content: center;
  padding: 50px 50px 50px 50px;
  border: {
      style: solid;
      width: 10px;
      color:rgb(213, 240, 139);
  }
}
